// Padding Mixin
@mixin padding($padding-top, $padding-right, $padding-bottom, $padding-left) {
    padding-top: $padding-top;
    padding-right: $padding-right;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
}
// Margin Mixin
@mixin margin($margin-top, $margin-right, $margin-bottom, $margin-left) {
    margin-top: $margin-top;
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
}